body {
    padding-top: 5rem;
    font-size: .9em;
    /*font-family: "open sans", "helvetica neue", verdana, tahoma, arial !important;*/
}

footer {
    background-color: #eeeeee;
    font-size: .85em;
    color: #7d7d7d;
    padding: 2px;
    text-align: center;
}

section.page-header {
    border-bottom: solid 1px #dddddd;
    padding-bottom: 0;
    margin-bottom: 10px;
}

form.bordered {
    padding-top: 10px;
    border-top: solid 1px #dddddd;
    border-bottom: solid 1px #dddddd;
}

.text-sm{
    font-size: .8em;
}

/* Backgrounds ------------------ */
.bg-bright {
    background-color: #FFF;
}

.bg-dark {
    background-color: #DCE5EF;
}

.bg-gradient-blue {
    background-color: #52b2f6; /* IE9 fallback */
    background: -webkit-linear-gradient(#2d8dd1, #52b2f6);
    background: -o-linear-gradient(#2d8dd1, #52b2f6);
    background: -moz-linear-gradient(#2d8dd1, #52b2f6);
    background: linear-gradient(#2d8dd1, #52b2f6);
    color: white;
}

.bg-gradient-brown {
    background-color: #c28500; /* IE9 fallback */
    background: -webkit-linear-gradient(#b26d09, #c28500);
    background: -o-linear-gradient(#b26d09, #c28500);
    background: -moz-linear-gradient(#b26d09, #c28500);
    background: linear-gradient(#b26d09, #c28500);
}

.bg-gradient-green {
    background-color: #8ab73b; /* IE9 fallback */
    background: -webkit-linear-gradient(#81a02b, #8ab73b);
    background: -o-linear-gradient(#81a02b, #8ab73b);
    background: -moz-linear-gradient(#81a02b, #8ab73b);
    background: linear-gradient(#81a02b, #8ab73b);
}

.bg-gradient-red {
    background-color: #c9302c; /* IE9 fallback */
    background: -webkit-linear-gradient( #ff7d7d,#c9302c);
    background: -o-linear-gradient( #ff7d7d,#c9302c);
    background: -moz-linear-gradient( #ff7d7d,#c9302c);
    background: linear-gradient( #ff7d7d,#c9302c);
    color: white;
}

.bg-gradient-orange {
    background-color: #f6a000; /* IE9 fallback */
    background: -webkit-linear-gradient(#e08c05, #f6a000);
    background: -o-linear-gradient(#e08c05, #f6a000);
    background: -moz-linear-gradient(#e08c05, #f6a000);
    background: linear-gradient(#e08c05, #f6a000);
}

.bg-gradient-turquoise {
    background-color: #17b9b6; /* IE9 fallback */
    background: -webkit-linear-gradient(#0baaa2, #17b9b6);
    background: -o-linear-gradient(#0baaa2, #17b9b6);
    background: -moz-linear-gradient(#0baaa2, #17b9b6);
    background: linear-gradient(#0baaa2, #17b9b6);
}

.badge-text{
    font-size: .6em !important;
}

.thumbprint-field {
    display: none;
    visibility: hidden;
}
@media (min-width: 1200px){
    .thumbprint-field {
        display: table-cell !important;
        visibility: visible !important;
    }
}

.list-action-field {
    display: none;
    visibility: hidden;
}

@media (min-width: 768px) {
    .list-action-field {
        display: table-cell !important;
        visibility: visible !important;
    }
}