<section class="page-header">
    <h3><i class="fa fa-certificate" aria-hidden="true"></i>&nbsp;Certificate Authority</h3>
    <small>
        Use the area below to view, create, or recreate your CA certificate.
    </small>
</section>
<br>
<div ng-if="caCertValid!==true">
    <h5>Getting Started...</h5>
    <p>
        You do not currently have a Certificate Authority certificate set up. Fill out the form below and click "Create CA" to generate your CA certificate. Once you do that, you will be able to generate "leaf certificates" for your servers, from the
        <a href="#/leafcerts/new">New Cert</a> tab.
    </p>

    <form class="bordered">
        <div class="form-group row" ng-class="(request.fqdn ? 'has-success' : 'has-danger')">
            <label for="inputFQDN" class="col-sm-2 col-form-label">FQDN</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-sm" ng-disabled="isLoading===true"
                       ng-class="(request.fqdn ? 'form-control-success' : 'form-control-danger')"
                       id="inputFQDN" placeholder="(e.g. ca.example.com)" required ng-model="request.fqdn">
                <small class="form-text text-muted">The fully qualified domain name of your CA.</small>
            </div>
        </div>
        <div class="form-group row" ng-class="(request.organization ? 'has-success' : 'has-danger')">
            <label for="inputOrganization" class="col-sm-2 col-form-label">Organization Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-sm" ng-disabled="isLoading===true"
                       ng-class="(request.organization ? 'form-control-success' : 'form-control-danger')"
                       id="inputOrganization" placeholder="(e.g. ExampleCorp LLC)" required ng-model="request.organization">
                <small class="form-text text-muted">The name of your company or organization.</small>
            </div>
        </div>
        <div class="form-group row" ng-class="(request.organizationalUnit ? 'has-success' : 'has-danger')">
            <label for="inputOrganizationalUnit" class="col-sm-2 col-form-label">Organizational Unit</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-sm" ng-disabled="isLoading===true"
                       ng-class="(request.organizationalUnit ? 'form-control-success' : 'form-control-danger')"
                       id="inputOrganizationalUnit" placeholder="(e.g. IT Security)" required ng-model="request.organizationalUnit">
                <small class="form-text text-muted">The area or department within your company or organization.</small>
            </div>
        </div>
        <div class="form-group row" ng-class="(request.city ? 'has-success' : 'has-danger')">
            <label for="inputCity" class="col-sm-2 col-form-label">City</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-sm" ng-disabled="isLoading===true"
                       ng-class="(request.city ? 'form-control-success' : 'form-control-danger')"
                       id="inputCity" placeholder="(e.g. Seattle)" required ng-model="request.city">
                <small class="form-text text-muted">The city where you are located.</small>
            </div>
        </div>
        <div class="form-group row" ng-class="(request.stateCode ? 'has-success' : 'has-danger')">
            <label for="inputStateCode" class="col-sm-2 col-form-label">State Code</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-sm" ng-disabled="isLoading===true" maxlength="2"
                       ng-class="(request.stateCode ? 'form-control-success' : 'form-control-danger')"
                       id="inputStateCode" placeholder="(e.g. WA)" required ng-model="request.stateCode">
                <small class="form-text text-muted">The state or province code where you are located.</small>
            </div>
        </div>
        <div class="form-group row" ng-class="(request.countryCode ? 'has-success' : 'has-danger')">
            <label for="inputCountry" class="col-sm-2 col-form-label">Country Code</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-sm" ng-disabled="isLoading===true" maxlength="2"
                       ng-class="(request.countryCode ? 'form-control-success' : 'form-control-danger')"
                       id="inputCountry" placeholder="(e.g. US)" required ng-model="request.countryCode">
                <small class="form-text text-muted">The country code where you are located.</small>
            </div>
        </div>

        <div class="form-group row" ng-class="(request.emailAddress ? 'has-success' : 'has-danger')">
            <label for="inputEmail" class="col-sm-2 col-form-label">Email Address</label>
            <div class="col-sm-10">
                <input type="email" class="form-control form-control-sm" ng-disabled="isLoading===true"
                       ng-class="(request.emailAddress ? 'form-control-success' : 'form-control-danger')"
                       id="inputEmail" placeholder="(e.g. jdoe@example.com)" required ng-model="request.emailAddress">
                <small class="form-text text-muted">The e-mail address associated with this CA.</small>
            </div>
        </div>

        <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
                <button class="btn btn-success" title="Click to generate a new CA certificate now"
                        ng-disabled="isLoading===true || !(request.fqdn && request.organization && request.organizationalUnit && request.city && request.stateCode && request.countryCode && request.emailAddress)"
                        ng-click="createCA()">
                    <i class="fa fa-plus" aria-hidden="true" ng-hide="isLoading===true"></i>
                    <i class="fa fa-spinner fa-spin" ng-show="isLoading===true"></i>
                    &nbsp;Create CA
                </button>
            </div>
        </div>

    </form>
</div>

<div ng-if="caCertValid===true">

    <fieldset style="margin-top: -30px">
        <legend><small class="text-muted">details for this certificate authority</small></legend>

        <table class="table table-bordered table-hover table-condensed table-striped table-sm">
            <tr>
                <th class="lead"><strong>Common Name</strong></th>
                <td class="lead"><strong>{{ ca.subjectDN.commonName }}</strong></td>
            </tr>
            <tr></tr><tr></tr>
            <tr>
                <th>Distinguished Name</th>
                <td>{{ ca.x509certificate.certificate.subject }}</td>
            </tr>
            <tr>
                <th scope="row">Valid From</th>
                <td>{{ ca.x509certificate.certificate.notBefore }}</td>
            </tr>
            <tr>
                <th scope="row">Valid To</th>
                <td>{{ ca.x509certificate.certificate.notAfter }}</td>
            </tr>

            <tr>
                <th scope="row">Version</th>
                <td>{{ ca.x509certificate.certificate.version }}</td>
            </tr>
            <tr>
                <th scope="row">Serial Number</th>
                <td>{{ ca.x509certificate.certificate.serialNumber }}</td>
            </tr>
            <tr>
                <th scope="row">Signature Algorithm</th>
                <td><span class="badge badge-success" title="{{ ca.x509certificate.certificate.signatureAlgorithm.friendlyName }} ({{ ca.x509certificate.certificate.signatureAlgorithm.value }})"> <i class="fa fa-lock" aria-hidden="true"></i>&nbsp;{{ ca.x509certificate.certificate.signatureAlgorithm.friendlyName }}</span></td>
            </tr>
            <tr>
                <th scope="row">Public Key Algorithm</th>
                <td><span class="badge badge-success" title="{{ ca.x509certificate.certificate.publicKey.oid.friendlyName }} ({{ ca.x509certificate.certificate.publicKey.oid.value }})"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;{{ ca.x509certificate.certificate.publicKey.oid.friendlyName }}</span></td>
            </tr>
            <tr>
                <th scope="row">Key Size</th>
                <td><span class="badge badge-pill badge-primary" title="This certificate uses a {{ ca.keySize }} key."> <i class="fa fa-key" aria-hidden="true"></i>&nbsp;{{ ca.keySize }}</span></td>
            </tr>
            <tr>
                <th scope="row">Thumbprint</th>
                <td>{{ ca.x509certificate.certificate.thumbprint }}</td>
            </tr>
            <tr>
                <th scope="row">Public Key</th>
                <td><pre>{{ ca.x509certificate.publicKeyPem }}</pre></td>
            </tr>
            <tr>
                <th scope="row">Private Key</th>
                <td><pre>{{ ca.x509certificate.privateKeyPem }}</pre></td>
            </tr>
        </table>

        <table class="table table-bordered table-sm" style="width:80%; margin-left:20px;margin-right:50px; background-color: #ddddee; font-size: .8em;">
            <tr>
                <th>issuer</th>
                <td>{{ ca.x509certificate.certificate.issuerName.name }}</td>
            </tr>
            <tr>
                <th>authority key identifier</th>
                <td>{{ ca.x509certificate.certificate.thumbprint }}</td>
            </tr>
        </table>
    </fieldset>


    <script>
        $().ready(function () {
            $('li.nav-item a[role=tab]').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            })
        });
    </script>

    <hr>
    <div>
        <a href="/api/ca/download/" class="btn btn-sm btn-primary" title="Download the CA certificate in Base64 (.crt) format."><i class="fa fa-download"></i>&nbsp;Public</a>
        <a href="/api/ca/download/private/" class="btn btn-sm btn-primary" title="Download the CA private key in Base64 (.key) format."><i class="fa fa-download"></i>&nbsp;Private</a>
        

        <button class="btn btn-danger btn-sm pull-right" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-minus-circle"></i>&nbsp;Delete</button>

    </div>



    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-gradient-red">
                    <h5 class="modal-title"><i class="fa fa-minus-circle"></i> Permanently Destroy CA</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        This option allows you to completely destroy the current Certificate Authority. This
                        will delete ALL leaf certificates, and the CA certificate. You will no longer be able to
                        access these certificates.
                    </p>
                    <p>
                        However, this does allow you to start over. So, once permanently deleted (if that's what you 
                        wish to do), you can create a new CA, and start issuing leaf certs from that new CA.
                    </p>
                    <p>
                        Do you wish to permanently delete this CA, and ALL leaf certificates?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="wipeCA()"><i class="fa fa-minus-circle"></i> Permanently Destroy</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
