<section class="page-header">
    <h3><i class="fa fa-list" aria-hidden="true"></i>&nbsp;Leaf Certificates</h3>
    <small>
        Use the area below to view, create, or recreate your leaf certificates.
    </small>
</section>
<br>
<div ng-if="caCertValid!==true">
    <div class="alert alert-info">
        <i class="fa fa-info-circle" aria-hidden="true"></i> You do not currently have a Certificate Authority certificate set up. You must complete that step first, before you can generate leaf certificates.
    </div>
    <p>
        <a href="#/ca" class="btn btn-primary"><i class="fa fa-certificate" aria-hidden="true"></i>&nbsp;Setup CA</a>
    </p>

</div>

<div ng-if="caCertValid===true">
    <p style="margin-top: -20px">
        You currently have a Certificate Authority set up. Below are the existing certificates which have
        already been issued from this CA. Click to view, download, or delete an existing certificate. Or,
        click below to generate a leaf certificate for your servers, from the
        <a href="#/leafcerts/new">New Cert</a> tab.
    </p>
    <table class="table table-condensed table-bordered table-striped">
        <tr>
            <th>Subject</th>
            <th class="thumbprint-field">Thumbprint</th>
            <th colspan="2">Expires</th>
        </tr>
        <tr ng-show="!certs">
            <td colspan="4" class="center-block text-center">
                <em>--No Certificates Found--</em>
            </td>
        </tr>
        <tr ng-repeat="cert in certs">
            <td title="{{ cert.distinguishedName }}"><i class="fa fa-certificate"></i>&nbsp;<a href="#/leafcerts/{{ cert.thumbprint }}/details" title="Click to view the certificate details">{{ cert.distinguishedNameDetails.commonName}}</a></td>
            <td class="thumbprint-field">
                {{ cert.thumbprint }}<span class="badge badge-pill badge-primary pull-right badge-text" title="This certificate has a {{cert.keySize}} key."> <i class="fa fa-key" aria-hidden="true"></i>&nbsp;{{cert.keySize}}</span>
                <p class="text-sm text-muted">Serial: {{ cert.serialNumber }}</p>
            </td>
            <td>{{ cert.expiresOn | date:mm/dd/yyyy }}</td>
            <td class="list-action-field">
                <a href="/api/leaf/download/{{cert.thumbprint}}/" class="btn btn-sm btn-primary" title="Download the leaf certificate in Base64 (.crt) format."><i class="fa fa-download"></i>&nbsp;Cert</a>
                <a href="/api/leaf/download/private/{{cert.thumbprint}}/" class="btn btn-sm btn-primary" title="Download the leaf private key in Base64 (.key) format."><i class="fa fa-download"></i>&nbsp;Key</a>
                <a href="/api/ca/download/" class="btn btn-sm btn-primary" title="Download the CA certificate in Base64 (.crt) format."><i class="fa fa-download"></i>&nbsp;CA</a> |
                <button data-toggle="modal" data-target="#deleteModal" ng-click="setCurrentThumbprint(cert.thumbprint)" class="btn btn-sm btn-danger" style="cursor: pointer"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
    </table>
    <hr />
    <a href="#/leafcerts/new" class="btn btn-success pull-right"><i class="fa fa-plus"></i>&nbsp;Add Certificate</a>
</div>


<div class="modal fade" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-gradient-red">
                <h5 class="modal-title"><i class="fa fa-minus-circle"></i> Permanently Destroy Leaf Certificate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    This option allows you to completely destroy this certificate. It will no
                    longer be able to be downloaded.
                </p>
                <p>
                    Do you wish to permanently delete this leaf certificate?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="deleteCertificate()"><i class="fa fa-minus-circle"></i> Permanently Destroy</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
